<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mobile</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="icon" type="image/png" href="assets/img/logo.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <a class="nav-link scrollto" href="index.html">
                        <span>Beranda</span></i>
                    </a>
                    <li class="dropdown"><a class="nav-link scrollto active" href="#"><span>Produk</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a class="nav-link scrollto" href="#a">Mobile</a></li>
                            <li><a class="nav-link scrollto" href="#team">Desktop</a></li>
                            <li><a class="nav-link scrollto" href="#testimonials">Website</a></li>
                            <li><a class="nav-link scrollto" href="#testimonials">IoT</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#services">Arsip</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Pemenang</a></li>
                    <li><a class="nav-link scrollto " href="index.html#faq">FAQ</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

            <div class="header-social-links d-flex align-items-center">
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="youtube"><i class="bi bi-youtube"></i></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Mobile Section ======= -->
    <section id="product">
        <div class="top-tittle" data-aos="fade-right" data-aos-easing="ease-in-out">
            <h2>Mobile App</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 app" data-aos="zoom-in">
                    <a href="detail-product.html">
                        <div class="product-box">
                            <img src="assets/img/App.png" alt="">
                            <div class="desc">
                                <h3>Nama Aplikasi</h3>
                                <h4>Nama Tim</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 app" data-aos="zoom-in">
                    <a href="detail-product.html">
                        <div class="product-box">
                            <img src="assets/img/App.png" alt="">
                            <div class="desc">
                                <h3>Nama Aplikasi</h3>
                                <h4>Nama Tim</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 app" data-aos="zoom-in">
                    <a href="detail-product.html">
                        <div class="product-box">
                            <img src="assets/img/App.png" alt="">
                            <div class="desc">
                                <h3>Nama Aplikasi</h3>
                                <h4>Nama Tim</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 app" data-aos="zoom-in">
                    <a href="detail-product.html">
                        <div class="product-box">
                            <img src="assets/img/App.png" alt="">
                            <div class="desc">
                                <h3>Nama Aplikasi</h3>
                                <h4>Nama Tim</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 app" data-aos="zoom-in">
                    <a href="detail-product.html">
                        <div class="product-box">
                            <img src="assets/img/App.png" alt="">
                            <div class="desc">
                                <h3>Nama Aplikasi</h3>
                                <h4>Nama Tim</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 app" data-aos="zoom-in">
                    <a href="detail-product.html">
                        <div class="product-box">
                            <img src="assets/img/App.png" alt="">
                            <div class="desc">
                                <h3>Nama Aplikasi</h3>
                                <h4>Nama Tim</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 app" data-aos="zoom-in">
                    <a href="detail-product.html">
                        <div class="product-box">
                            <img src="assets/img/App.png" alt="">
                            <div class="desc">
                                <h3>Nama Aplikasi</h3>
                                <h4>Nama Tim</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <nav aria-label="pagination-nav">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- End Mobile -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-6 footer-links">
                        <div class="footer-info">
                            <img src="assets/img/DTIK Fest.png" alt="">
                            <div class="social-links mt-3">
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-lg-offset-2 footer-links">
                        <h2>Contact Us</h2>
                        <p><img src="assets/img/wa.png" alt="" srcset=""></i>081231129214 (Syafii)</p>
                        <p><img src="assets/img/wa.png" alt="" srcset=""></i>081231129214 (Syafii)</p>
                        <p><img src="assets/img/wa.png" alt="" srcset=""></i>081231129214 (Syafii)</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>DTIK Fest 2021</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Powered by <a href="https://pens.ac.id">Politeknik Elektronika Negeri Surabaya</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>